{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />
<style>
.method { display: block; padding: 5px 0; text-align: center; }
a.blue { background: #79aec8; color: #fff; }
a.blue:hover { background: #417690;  }
p.simplify { font-size: 8px; text-align: right; }
</style>
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
<p class="errornote">
{% for error in form.non_field_errors %}
    {{ error }}<br/>
{% endfor %}
</p>
{% endif %}

<div id="content-main">

{% if user.is_authenticated %}
<p class="errornote">
{% blocktrans trimmed %}
    You are authenticated as {{ username }}, but are not authorized to
    access this page. Would you like to login to a different account?
{% endblocktrans %}
</p>
{% endif %}

{% if ldap and current_url == 'login' %}
<a class="method blue" href="{% url 'admin:ldap_login' %}?next={{next_url}}">LDAP</a>
<h2>{% trans 'Connexion Standard' %}</h2>
<hr>
{% elif ldap and current_url == 'ldap_login' %}
<a class="method blue" href="{% url 'admin:login' %}?next={{next_url}}">Standard</a>
<h2>{% trans 'Connexion LDAP' %}</h2>
<hr>
{% endif %}

<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    {{ form.username.errors }}
    {{ form.username.label_tag }} {{ form.username }}
  </div>
  <div class="form-row">
    {{ form.password.errors }}
    {{ form.password.label_tag }} {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
  </div>
  {% endif %}
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
  </div>
</form>

<p class="simplify">{% trans '*Assisted by Simplify' %}</p>

</div>
{% endblock %}