{% extends "admin/change_list.html" %}
{% load i18n static %}

{% block messages %}
<ul class="messagelist">
    <li class="info" style="background: #c8cadc">
        <p>
            <b>{% trans 'Maintenance command line:' %}</b>
            <br>&nbsp;&nbsp;&nbsp;&nbsp;curl -s http://{robot}:{key}@{host}:{port}/{namespace}/task/maintain.{extension}
        </p>
        <p>
            <i><u>{% trans 'Example:' %}</u></i>
            <br>&nbsp;&nbsp;&nbsp;&nbsp;curl -s http://robot:C9d.44A.83+Df78514c821d+D_2e7cD-@localhost:8000/simplify/task/maintain.json
        </p>
        <p>
            <i><u>{% trans 'Crontab:' %}</u></i>
            <br>&nbsp;&nbsp;&nbsp;&nbsp;0 1 * * * curl -s http://robot:C9d.44A.83+Df78514c821d+D_2e7cD-@localhost:8000/simplify/task/maintain.json
        </p>
    </li>
</ul>
{{ block.super }}
{% endblock messages %}