{% extends template %}{% load i18n simplify %}{% block content %}<section class="detail">
    <h1>titre</h1>{% for object in object_list %}
    <article>
        <h2>{% if pk %}{% getattribute object pk %}{% else %}{{ object.pk }}{% endif %}</h2>
        <table>
            <tr>
                <th>{% trans 'Field' %}</th>
                <th>{% trans 'Value' %}</th>
            </tr>{% for field in fields_detail %}{% if field in fields_relation %}{% getrelation object field as sub %}
            <tr>
                <td>{{ field }}</td>
                <td>{% for s in sub.relations %}
                    <table>{% for sfield in sub.fields %}
                        <tr>
                            <th colspan="2">{{ s }}</th>
                        </tr>
                        <tr>
                            <td>{{ sfield }}</td>
                            <td>{% getattribute s sfield %}</td>
                        </tr>{% endfor %}
                    </table>{% endfor %}
                </td>
            </tr>{% elif field in fields_foreignkey %}{% getforeignkey object field as sub %}
            <tr>
                <td>{{ field }}</td>
                <td>
                    <table>{% for sfield in sub.fields %} 
                        <tr>
                            <td>{{ sfield }}</td>
                            <td>{% getattribute sub.relations sfield %}</td>
                        </tr>{% endfor %}
                    </table>
                </td>
            </tr>{% else %}
            <tr>
                <td>{{ field }}</td>
                <td>{% getattribute object field %}</td>
            </tr>{% endif %}{% endfor %}
        </table>
    </article>{% endfor %}{% if is_paginated %}
    <article>
        <h2>{% trans 'Pagination' %}</h2>
        <table>
            <tr>
                <th>{% trans 'Current' %}</th>
                <th>{% trans 'Number' %}</th>
            </tr>
            <tr>
                <td>{{ page_obj.number }}</td>
                <td>{{ page_obj.paginator.num_pages }}</td>
            </tr>
        </table>
    </article>{% endif %}
</section>{% endblock %}